# 2025-09-23

In [2]:
a = 1
def vartest():
    global a
    a = a + 5
print(a)
vartest()
print(a)
vartest()
print(a)

1
6
11

In [5]:
r = (52, 255, 39, 132)
g = (19, 0, 227, 132)
b = (52, 255, 39, 187)

zip_object = zip(r, g, b)
print(zip_object)

img = list(zip_object)
print(img)

print(img[0])
print(type(img[0]))

<zip object at 0x0000029AA9C39580>
[(52, 19, 52), (255, 0, 255), (39, 227, 39), (132, 132, 187)]
(52, 19, 52)
<class 'tuple'>

In [6]:
f = ('apple', 'banana', 'cherry', 'date')

In [7]:
enumerate(f)
dict(enumerate(f))

{0: 'apple', 1: 'banana', 2: 'cherry', 3: 'date'}

In [ ]:
mylist = [1, 2, 3, 4, 5]
# -> [2, 3, 4, 5, 6]

result = []
for i in mylist:
    result.append(i+1) # append는 변환 및 추가하는 명령어
print(result)

[2, 3, 4, 5, 6]

In [ ]:
mylist = [1, 2, 3, 4, 5]

def add_one(n):
    return n+1

result = list(map(add_one, mylist))  # 리스트로 묶어야지 숫자로 나오고 안하면 mylist가 저장된 위치가 나옴
result

[2, 3, 4, 5, 6]

In [16]:
mylist = [3.14, -5.6, 100.4, 25.0]

result = list(map(round, mylist))
result

[3, -6, 100, 25]

In [20]:
a = [8, 3, 2, 10, 15, 7, 1, 0, 11]
result = []
for i in a:
    if i > 5 and i < 10:
        result.append(i)

result

[8, 7]

In [25]:
a = [8, 3, 2, 10, 15, 7, 1, 0, 11]

def f(x):
    return x > 5 and x < 10

list(filter(f, a))

[8, 7]

In [27]:
points = [(1, 2), (3, 4), (5, 1)]
sorted_points = sorted(points, key=lambda x: x[1], reverse = True)
print(sorted_points)

[(3, 4), (1, 2), (5, 1)]

### 입력받은 여러 시험 결과들 평균치로 등수 구하는 함수 만들기
score1 = [[80, 70], [90, 50], [40, 70], [50, 80]]
-> [1, 2, 4, 3]

In [40]:
def rank(score):
    # 입력값들 평균값 계산한거
    average = []
    for eng, math in score:
        student_average = ((eng + math) / 2)
        average.append(student_average)
    
    # 평균값 계산한거 내림차순으로 정렬
    sorted_average = sorted(average, reverse = True)

    # 내림차순으로 정렬한거 기준으로 등수 구하는 거
    ranks = []
    for avg in average:
        rank_index = sorted_average.index(avg)
        rank = rank_index + 1
        ranks.append(rank)
    return ranks

In [41]:
score1 = [[80, 70], [90, 50], [40, 70], [50, 80]]
rank(score1)

[1, 2, 4, 3]

In [43]:
score2 = [[80, 70], [70, 80], [30, 50], [90, 100], [100, 90], [100, 100], [10, 30]]
rank(score2)

[4, 4, 6, 2, 2, 1, 7]

### 소수 판별 함수 만들기
[2, 3, 4, 5, 6, 7, 8, ,9]  
-> [True, True, False, True, False, True, False, False]

In [48]:
numbers = [2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
def is_prime(num_list):
    result = []
    for num in num_list:
        isprime = True
        for i in range(2, num):
            if num % i == 0:
                isprime = False
                break
        result.append(isprime)
    return result

In [60]:
is_prime([2, 3, 4, 5, 6, 7, 8, 9])

[True, True, False, True, False, True, False, False]

In [61]:
import random
random.randint(1, 100)

74

In [80]:
import random as r
r.randint(1, 100)
r.randrange(1, 3)

2

In [63]:
from random import randint
randint(1, 100)

30

In [87]:
import random as r
result = []
while len(result) < 6:
    num = r.randint(1, 45)
    if num not in result:
        result.append(num)      
print(result)

[40, 23, 39, 17, 41, 20]

### 컴퓨터랑 가위바위보 하기

In [ ]:
while True:
    user = input("가위, 바위, 보 : ")
    com = sel[random.randint(0, 2)]
    if checkWin(user, com):

# 사용자정의 모듈

In [92]:
import mymodule as mm
print(mm.my_add(7, 3))
print(mm.my_sub(3, 5))

10
-2

In [93]:
# 지금 동작하고 있는 데가 메인함수인지 모듈에서 돌아가는건지 확인하는 명령어 
__name__

'__main__'

In [6]:
import mymodule as mm
hero = mm.Character("전사")
hero.speak()

if __name__ == "__main__":
    main()

저는 전사입니다.

NameError: name 'main' is not defined

### 결제시스템 만들기
신용카드, 포인트 결제

In [13]:
def pay_credit_payment(card_info, amount):
    """ 신용카드 결제 로직 """
    print(f"{card_info['card_number']}카드로 {amount}원 결제합니다.")
    print('결제 완료')
 
def pay_with_point(point_wallet, amount):
    if point_wallet['balance'] >= amount:
        point_wallet['balance'] -= amount
        print(f"포인트 {amount}점을 사용해서 결제했습니다.")
    else:
        print("포인트가 부족합니다.")

In [14]:
credit_card = {
    'type':'credit_card',
    'card_number': '1234-5678-xxxx',
    'cvc': 123
}
 
my_points = {
    'type':"point_wallet",
    'balance': 50000
}

In [15]:
def payment(payment_method, amount):
    payment_type=payment_method['type']
 
    if payment_type == 'credit_card':
        pay_credit_payment(payment_method, amount)
    elif payment_type == 'point_wallet':
        pay_with_point(payment_method, amount)
    else:
        print("지원되지 않는 결제방식")

In [16]:
payment(credit_card, 2500)
payment(my_points, 10000)
payment(my_points, 50000)

1234-5678-xxxx카드로 2500원 결제합니다.
결제 완료
포인트 10000점을 사용해서 결제했습니다.
포인트가 부족합니다.

In [17]:
class PaymentMethod:
    def pay(self, amount):
        print("결제시작")
        print(f"{amount}원 결제")

In [18]:
class CreditCard(PaymentMethod):
    def __init__(self, card_number, cvc):
        self.card_number = card_number
        self.cvc = cvc

    def pay(self, amount):
        print(f"{card_info['card_number']}카드로 {amount}원 결제합니다.")
        print('결제 완료')

class PointWallet(PaymentMethod):
    def __init__(self, balance):
        self.balance = balance

    def pay(self, amount):
        if self.balance >= amount:
        self.balance -= amount
        print(f"포인트 {amount}점을 사용해서 결제했습니다.")
    else:
        print("포인트가 부족합니다.")

IndentationError: expected an indented block after 'if' statement on line 15 (3425016724.py, line 16)

In [ ]:
from turtle import *
color('red', 'yellow')
begin_fill()
while True:
    forward(200)
    left(170)
    if abs(pos()) < 1:
        break
end_fill()
done()

In [22]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\el19\appdata\local\programs\python\python311\lib\site-packages (2.3.3)

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [23]:
import numpy

In [31]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\el19\appdata\local\programs\python\python311\lib\site-packages (4.13.5)
Requirement already satisfied: soupsieve>1.2 in c:\users\el19\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4) (2.8)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\el19\appdata\roaming\python\python311\site-packages (from beautifulsoup4) (4.15.0)

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [33]:
from bs4 import BeautifulSoup