# 20250922

In [1]:
num = 0
for i in range(5):
    for j in range(5):
        print(f"(i = {i}, j = {j})")
        num = i * j
        if i == 2 and j == 3:
            break
    if i == 2 and j == 3:
        break
print(num)

(i = 0, j = 0)
(i = 0, j = 1)
(i = 0, j = 2)
(i = 0, j = 3)
(i = 0, j = 4)
(i = 1, j = 0)
(i = 1, j = 1)
(i = 1, j = 2)
(i = 1, j = 3)
(i = 1, j = 4)
(i = 2, j = 0)
(i = 2, j = 1)
(i = 2, j = 2)
(i = 2, j = 3)
6

In [ ]:
# 사용자로 부터 n개의 별의 갯수를 입력받은 뒤
# 별을 출력하되 별의 갯수만큼만 출력하다가 별이 다 소진되면 멈추는 코드 작성

stars = 0
n = int(input("별의 갯수를 설정하세요"))
break_all = False

for i in range(1,11):
    for j in range(i):
        stars += 1
        if stars > n:
            break_all = True
            break
        print("*", end = '')
    if break_all:
        break
    print()

*
**
***
****
*****
******
*******
**

## 리스트

In [ ]:
numbers1 = [1,2,3,4,5]
numbers2 = [6,7,8,9,10]
print(numbers1 + numbers2)
print(numbers1 * 3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [16]:
numbers2.append(11)
numbers2

[6, 7, 8, 9, 10, '11', 11]

In [17]:
numbers2.insert(2, 4)
numbers2

[6, 7, 4, 8, 9, 10, '11', 11]

In [20]:
numbers2.extend([16, 17])
numbers2

[6, 7, 4, 8, 9, 10, '11', 11, 16, 17]

In [21]:
numbers2.pop()

17

In [22]:
numbers2

[6, 7, 4, 8, 9, 10, '11', 11, 16]

In [23]:
numbers2.pop(2)
numbers2

[6, 7, 8, 9, 10, '11', 11, 16]

In [25]:
var = '가나다'
print(var)
while True:
    answer = input("끝말잇기 단어를 입력: ")
    print(answer)
    if answer[0] == var[-1]:
        var = answer
    else:
        print("땡")
        break

가나다
다림질
질륨
리
땡

In [29]:
# 리스트 numbers 각 원소는 숫자 0~9로 이루어져있습니다. 이때, numbers에서 연속적으로 나타나는 숫자는 
# 하나만 남기고 전부 제거하려 합니다. 단, 제거된 후 남은수들을 반환할 때는 
# numbers의 원소들의 순서를 유지해야합니다
# ex) numbers = [1, 1, 3, 3, 0, 1, 1] -> [1, 3, 0, 1]
# ex) numbers = [4, 4, 4, 3, 3] -> [4, 3]

numbers = [1, 1, 3, 3, 0, 1, 1]
answer = []
comp = numbers[0]
answer.append(comp)
for i in numbers:
    if comp != i:
        comp = i
        answer.append(comp)
answer

[1, 3, 0, 1]

# dictionary

In [38]:
student = {'name' : 'Juhyun', 'age' : '25', 'hobby' : 'exercise'}
type(student)

dict

In [31]:
mydict = {}
mydict = dict()

In [36]:
student['age']

'25'

In [43]:
print(student.keys())
for i in student.items():
    print(i)

dict_keys(['name', 'age', 'hobby'])
('name', 'Juhyun')
('age', '25')
('hobby', 'exercise')

In [44]:
student['name'] = 'bokyung'
student

{'name': 'bokyung', 'age': '25', 'hobby': 'exercise'}

In [45]:
student['address'] = '용인시 기흥구'
student

{'name': 'bokyung', 'age': '25', 'hobby': 'exercise', 'address': '용인시 기흥구'}

In [48]:
print(student.get('address2'))

None

In [49]:
student.popitem()
student

{'name': 'bokyung', 'age': '25', 'hobby': 'exercise'}

In [ ]:
for i, j in student.items():
    print

### 13 –2 번   
모스부호   
문자열 letter가 주어질 때, letter를 영어 소문자로 바꾼 문자열을 출력 하도록 코드작성   
모스부호는 다음과 같습니다.  
morse = { 

    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', 

    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 

    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 

    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 

    '-.--':'y','--..':'z'  
} 

입출력 예  
letter  result  
".... . .-.. .-.. ---"  "hello"  
".--. -.-- - .... --- -."   "python"

In [58]:
morse = { 
    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', 

    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 

    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 

    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 

    '-.--':'y','--..':'z' 
} 

letter = input("모스부호를 입력하시오: ").split(' ')
for i in letter:
    print(morse[i], end='')

hello

## Set 자료형
중복을 허용하지 않고, 순서가 없는 데이터

In [ ]:
s={1, 2, 3, 4, 2, 3}
type(s)

set

In [62]:
s[0]

TypeError: 'set' object is not subscriptable

In [63]:
s.add(5)
s

{1, 2, 3, 4, 5}

In [67]:
my_list = [1, 2, 3, 4, 5, 2, 6, 3 ,1, 2]
print(my_list)
set(my_list)

[1, 2, 3, 4, 5, 2, 6, 3, 1, 2]

{1, 2, 3, 4, 5, 6}

In [68]:
list(set(my_list))

[1, 2, 3, 4, 5, 6]

In [69]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
a | b

{1, 2, 3, 4, 5, 6}

In [70]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [71]:
a.difference(b)
a-b

{1, 2}

In [77]:
pepero = ('누드초코', '아몬드', '초코', '크런키', '크림치즈', '화이트쿠키')
answer = list(set(pepero))
answer

['크림치즈', '누드초코', '초코', '크런키', '아몬드', '화이트쿠키']

In [85]:
words = "culture experience symbol symbol education symbol effect education affair liberty liberty affair"
len(set(words.split()))

7

In [86]:
def my_sum(a, b):
    result = a+b
    return result

In [90]:
def num_max(a, b, c):
    max_val = a
    if b > max_val:
        max_val = b
    if c > max_val:
        max_val = c
    return max_val
num = num_max(13, 7, 12)
num

13

In [97]:
def num_min(arr):
    min_val = arr[0]
    for num in arr[1:]:
        if num < min_val:
            min_val = num
    return min_val

testArray = [52, 273, 32, 103, 275, 24, 57]
num_min(testArray)

24